@{
    ViewData["Title"] = "Delete Confirmation";
}

@model mission6.Models.Task

<h2>Confirm Deletion</h2>
<h3>Are you sure you want to delete the record for @Model.TaskName?</h3>

<!--Confirm deletion form-->
<form method="post" asp-controller="Home" asp-action="Delete">
    <a asp-controller="Home" asp-action="TaskList" class="btn-primary">Cancel</a>
    <button type="submit">Delete</button>
    <input type="hidden" asp-for="TaskID" />
</form>

